.btn{
background: #b0193c;
font-weight: 700;
color: white;
cursor: pointer;
display: inline-block;
padding: 12px 24px;
text-transform: uppercase;
border-radius: 60px;
border: none;
outline: none;
letter-spacing: 1px;
text-align: center;
font-size: 14px;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all .3s ease-in-out;
&:hover{
  background: #f12353;
  
}
}